body {
    background-color: #FFFFE0;
    font-family: "Tahoma";
}

h2 {
    color: darkred;
    font-family: "Impact";
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

#mapid {
    height: 650px;
    width: 650px;
}

#USCheading {
    padding: 5px 15px 5px 15px;
    background-color: rgb(224, 125, 125);
}

#infoArea {
    padding-left: 50px;
}